#header{
    background-color: lightgray;
}

#page-break{
    background-color: darkslategray;
    color: white;
}

.meme{
    display: inline-block;
    position: relative;
    background-color: lightgray;
    height: 250px;
    width: auto;
}

.top-meme{
    position: absolute;
}

.bottom-meme{
    position: absolute;
    bottom: 1%;
    text-align: center;
}