#header{
    background-color: lightgray;
}

#page-break{
    background-color: darkslategray;
    color: white;
}

#meme-container{
    height: webkit-fill-availble;
}

.meme{
    display: inline-block;
    position: relative;
    background-color: lightgray;
    height: 250px;
    width: auto;
    margin: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-size-adjust: inherit;
    justify-content: center;
}

.top-meme{
    position: absolute;
    text-align: center;
    top: 1%;
    left: 3%; 
    color:white;
}

.bottom-meme{
    position: absolute;
    bottom: 1%;
    left: 3%;
    text-align: center;
    color: white;
}

img {
    display: inline-block;
    position: relative; 
    height: 250px;
    width: 250px;
}

